<mat-slide-toggle [(ngModel)]="isStudent">Is Student: {{isStudent}}</mat-slide-toggle>

<div class="center" *ngIf="lab">
  <h1 style="background-color: #6D4FD8; border-radius: 10px; color: white; padding: 1em;">{{lab.name}}</h1> 
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Meno</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
  
    <ng-container matColumnDef="Score">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Trophies">
      <th mat-header-cell *matHeaderCellDef>Trofeje</th>
      <td mat-cell *matCellDef="let element">{{element.trophies}}</td>
    </ng-container>
    <div >
    <ng-container matColumnDef="Edit" >
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button *ngIf="!isStudent" mat-flat-button color="primary" routerLink="/student-detail/{{element.id}}">Upraviť</button></td>
    </ng-container>
  </div>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
</div>
<button mat-raised-button style="margin-left: 5em;" color="primary" (click)="openTempDialog()" *ngIf="!isStudent"><img
    src="https://img.icons8.com/material-rounded/24/000000/create.png" /> Pridať Cvičenie</button>

<div class="center" style="width: max-content !important;">
  <h2 *ngIf="labGroups.length != 0">Exercises</h2>
  <div class="example-container" *ngFor="let group of labGroups; let i = index">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>{{group.name}}</h2>
          </mat-panel-title>
          <mat-panel-description>
            <div class="des">
              <p>{{group.minStars}} <img src="https://img.icons8.com/fluency/18/000000/star.png" /> - {{group.maxStars}} <img src="https://img.icons8.com/fluency/18/000000/star.png" /></p>
              <p *ngIf="group.award != 'Žiadne'" style="margin-left: 2em;">{{group.award}}</p>
              
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2>Deadline:</h2>
        <!-- <mat-progress-bar mode="determinate" [value]="deadlines[i] <= 1 ? 99 : (deadlines[i]/Math.round((datef.getTime() - date.getTime())/86400000))*100"></mat-progress-bar> -->
        <p>{{ deadlines[i] === "Skupina je uzavretá" ? deadlines[i] : deadlines[i] + ' dní' }}</p>
        <div *ngFor="let exercise of allExercises">
          <div *ngIf="exercise.groupName == group.name">
            
            <mat-accordion>
              <mat-expansion-panel hideToggle style="margin-bottom: 20px;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    
                    <h3>{{exercise.name}} </h3>
                  </mat-panel-title>
                  <mat-panel-description>
                    {{exercise.requiredStars}} <img src="https://img.icons8.com/fluency/18/000000/star.png"/>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p [innerHTML]="exercise.description"></p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button  mat-raised-button color="primary" (click)="saveLab()" *ngIf="labGroups.length != 0 && !isStudent" >Save</button>
</div>

<ng-template #dialogRef let-mydata>
  <div class="center" *ngFor="let exercise of allGroups">
    <h2>{{exercise.name}} <button mat-raised-button (click)="addExercise(exercise)">PRIDAŤ</button></h2>
  </div>
</ng-template>