<div class="center">
<table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">All</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
        <th scope="col">Trophies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{labs.studentNames[0]}}</td>
        <td>{{labs.studentNames[0]}}</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{labs.studentNames[1]}}</td>
        <td>{{labs.studentNames[1]}}</td>
        <td>-</td>
      </tr>
      
    </tbody>
  </table>
</div>