<div class="flex-container">
  <div class="flex-child text">
    <div class="logo-text">
    <img style="width: 65%;"
      src="/assets/images/Logo2.png" alt="">
      <div class="line"></div>
      <p class="welcome-text">Vitajte v AppsLappe !</p>
      <p>Študuj moderne. Študuj v Appslabe !</p>
    </div>
  </div>

  <div class="flex-child card">

    <body>
      <div class="signup-form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
          <h2>Registrácia</h2>
          <hr>
          <div class="form-group">
            <label>Krstné Meno</label>
            <input [(ngModel)]="model.firstName" type="text" class="form-control" name="firstName" required minlength="4"
              maxlength="10" #firstName="ngModel">
            <small *ngIf="firstName.touched && firstName.valid == false">
              First name is required (minimum 4 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Priezvysko</label>
            <input [(ngModel)]="model.lastName" type="text" class="form-control" name="lastName" required minlength="4"
              maxlength="10" #lastName="ngModel">
            <small *ngIf="lastName.touched && lastName.valid == false">
              Last Name is required (minimum 4 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Prihlasovacie Meno</label>
            <input [(ngModel)]="model.username" type="text" class="form-control" name="username" required minlength="4"
              maxlength="10" #username="ngModel">
            <small *ngIf="username.touched && username.valid == false">
              Username is required (minimum 4 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Emailová Adresa</label>
            <input [(ngModel)]="model.email" type="email" class="form-control" name="email" required
              pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$"
              #email="ngModel">
            <small *ngIf="email.touched && !email.valid">
              Email is required and format should be <i>igorMatovic@example.com</i>.
            </small>
          </div>
          <div class="form-group">
            <label>Heslo</label>
            <input [(ngModel)]="model.password" type="password" class="form-control" name="password" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-.]).{8,16}$" #password="ngModel">
            <small
              *ngIf="password.touched && password.hasError('required') || password.touched && password.valid == false">
              Required: <br>
              1 number <br>
              1 small letter <br>
              1 cappital letter <br>
              length must be atleast 8 characters long
            </small>
          </div>
          <div class="form-group">
            <label>Zopakujte Heslo</label>
            <input [(ngModel)]="comfirmPassword" type="password" class="form-control" name="confirm_password" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" #comfPassword="ngModel">
            <small *ngIf="comfPassword.touched && comfirmPassword != model.password">
              Password mismatch
            </small>
          </div>
          <div class="form-group">
            <button color="primary" type="submit" class="btn btn-primary btn-lg" [disabled]="!signUpForm.form.valid">Registrovať
              <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </form>
        <div class="text-center">Už máte Účet ? <a [routerLink]="['/login']">Prihlásenie</a></div>
      </div>
    </body>
  </div>
  
</div>