.card {
    border: none;
}
.flex-container {
    display: flex;
    flex-direction:row;
    overflow-y: scroll;
}

.flex-container::-webkit-scrollbar {
    display: none;
}

.flex-child {
    flex: 1;
    margin: 100px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.card-title {
    text-align: center;
}

.registration-card {
    width: 200px;
    text-align: center;
}

.example-full-width {
    
    font-size: large;
}

.welcome-text {
    font-size: xx-large;
}

body {
    border-radius: 13px;
    color: #fff;
    background: #6D4FD8;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    min-height: 41px;
    box-shadow: none;
    
}
.form-control:focus {
    border-color: #6D4FD8;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    min-width: 340px;
    max-width: 450px;
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
}

.logo-text {
    width: auto;
    margin: 0 auto;
    padding: 30px 0;
}

@media screen and (max-width: 992px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .signup-form {
        min-width: 220px;
        max-width: 300px;
        width: auto;
        margin: 0 auto;
        padding: 30px 0;
    }
    .welcome-text {
        font-size: large;
        text-align: center;
    }
    p {
        text-align: center;
    }
    body {
        min-width: 310px;
        color: #fff;
        background: #6D4FD8;
        font-family: 'Roboto', sans-serif;
    }
    
  }


@media screen and (max-width: 770px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .signup-form {
        min-width: 250px;
        max-width: 300px;
        width: auto;
        margin: 0 auto;
        padding: 30px 0;
    }
    .welcome-text {
        font-size: large;
        text-align: center;
    }
    p {
        text-align: center;
    }
    img {
        text-align: center;
    }
    body {
        
        min-width: 260px;
        color: #fff;
        background: #6D4FD8;
        font-family: 'Roboto', sans-serif;
    }
}


.signup-form form {
    color: #999;
    border-radius: 16px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form input[type="checkbox"] {
    margin-top: 2px;
}    
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #6D4FD8;
    border: none;
    min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:active {
    background: #7E87D9;
    outline: none !important;
}
.signup-form a {
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #6D4FD8;
    text-decoration: none;
}
.signup-form form a:hover {
    text-decoration: underline;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 410px;
    background-color: black;
}
