<div class="flex-container">
  <div class="flex-child text">
    <div class="logo-text">
    <img style="width: 65%;"
      src="/assets/images/Logo2.png" alt="">
      <div class="line"></div>
      <p class="welcome-text">Vitajte v AppsLappe !</p>
      <p>Študuj moderne. Študuj v Appslabe !</p>
    </div>
  </div>

  <div class="flex-child card">

    <body>
      <div class="signup-form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Registrácia</h2>
            <hr>
            <div class="form-group">
                <label>Krstné Meno</label>
                <input [(ngModel)]="model.firstName" type="text" class="form-control" name="firstName" required minlength="4" [maxlength]="10" #firstName="ngModel">
                <small class="text-danger" *ngIf="firstName.touched && firstName.errors?.['required']">
                    Krstné meno je povinné.
                </small>
                <small class="text-danger" *ngIf="firstName.touched && firstName.errors?.['minlength']">
                    Krstné meno musí mať aspoň 4 znaky.
                </small>
                <small class="text-danger" *ngIf="firstName.touched && firstName.errors?.['maxlength']">
                    Krstné meno nesmie mať viac ako 10 znakov.
                </small>
            </div>
            <div class="form-group">
                <label>Priezvisko</label>
                <input [(ngModel)]="model.lastName" type="text" class="form-control" name="lastName" required minlength="4" [maxlength]="10" #lastName="ngModel">
                <small class="text-danger" *ngIf="lastName.touched && lastName.errors?.['required']">
                    Priezvisko je povinné.
                </small>
                <small class="text-danger" *ngIf="lastName.touched && lastName.errors?.['minlength']">
                    Priezvisko musí mať aspoň 4 znaky.
                </small>
                <small class="text-danger" *ngIf="lastName.touched && lastName.errors?.['maxlength']">
                    Priezvisko nesmie mať viac ako 10 znakov.
                </small>
            </div>
            <div class="form-group">
                <label>Prihlasovacie Meno</label>
                <input [(ngModel)]="model.username" type="text" class="form-control" name="username" required minlength="4" [maxlength]="10" #username="ngModel">
                <small class="text-danger" *ngIf="username.touched && username.errors?.['required']">
                    Prihlasovacie meno je povinné.
                </small>
                <small class="text-danger" *ngIf="username.touched && username.errors?.['minlength']">
                    Prihlasovacie meno musí mať aspoň 4 znaky.
                </small>
                <small class="text-danger" *ngIf="username.touched && username.errors?.['maxlength']">
                    Prihlasovacie meno nesmie mať viac ako 10 znakov.
                </small>
            </div>
    
          <div class="form-group">
            <label>Meno na GitHub 
                <mat-icon style="font-size: 15px;" #tooltip="matTooltip"
                    matTooltip="Po pridaní mena bude mocť váš Labmaster sledovať vašu aktivitu. Ak nemáte GitHub účet, tak ho môžete vytvoriť na stránke https://github.com"
                    matTooltipPosition="right">info</mat-icon>
            </label>
            <input [(ngModel)]="gitName" type="text" class="form-control" name="gitName" required #git="ngModel">
            <small class="text-danger" *ngIf="git.touched && git.errors?.['required']">
              Meno na GitHub je povinné.
            </small>
        </div>        
          <div class="form-group">
            <label>Emailová Adresa</label>
            <input [(ngModel)]="model.email" type="email" class="form-control" name="email" required
              pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$"
              #email="ngModel">
            <small class="text-danger" *ngIf="email.touched && email.errors?.['required']">
              Email je povinný.
            </small>
            <small class="text-danger" *ngIf="email.errors?.['pattern']">
              Emailová adresa musí byť vo formáte: <i>name@example.com</i>.
            </small>
          </div>
          <div class="form-group">
            <label>Heslo</label>
            <input [(ngModel)]="model.password" type="password" class="form-control" name="password" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-.]).{8,16}$" #password="ngModel">
            <small class="text-danger" *ngIf="password.touched && password.hasError('required')">
              Heslo je povinné. <br>
            </small>
            <small class="text-danger" *ngIf="password.touched && password.hasError('pattern')">
              Heslo musí obsahovať aspoň 8 znakov, 1 veľké písmeno, 1 malé písmeno, 1 číslicu a 1 špeciálny znak.
            </small>
          </div>
          <div class="form-group">
            <label>Zopakujte Heslo</label>
            <input [(ngModel)]="comfirmPassword" type="password" class="form-control" name="confirm_password" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" #comfPassword="ngModel">
            <small class="text-danger" *ngIf="comfPassword.touched && comfPassword.hasError('required')">
              Heslo je povinné. <br>
            </small>
            <small class="text-danger" *ngIf="comfPassword.touched && comfirmPassword != model.password">
              Heslá sa nezhodujú.
            </small>

          </div>
          <div class="form-group">
            <button color="primary" type="submit" class="btn btn-primary btn-lg" [disabled]="!signUpForm.form.valid">Registrovať
              <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </form>
        <div class="text-center">Už máte Účet ? <a [routerLink]="['/login']">Prihlásenie</a></div>
      </div>
    </body>
  </div>
  
</div>