<button *ngIf="isAdmin == true" mat-raised-button style="margin-left: 5em;" color="primary" [routerLink]="['/lab-form']"><img src="https://img.icons8.com/material-rounded/24/000000/create.png"/> Create Lab</button>


<div class="center">
    
    <div class="example-container" *ngFor="let lab of labs">
      <!----> <h2> {{lab.name}}</h2> 
        <div style="background-color: white; border-radius: 5px; margin-bottom: 3.5rem;">
            <label>Members: {{lab.studentNames.length}}</label>
        </div>
            <button color="primary" routerLink="/lab-detail/{{lab.id}}" mat-raised-button>Lab Details</button>
      </div>

</div> 