<mat-slide-toggle [(ngModel)]="isStudent">Is Student: {{isStudent}}</mat-slide-toggle>
<div *ngIf="!isStudent">
  <button mat-raised-button style="margin-left: 5em;" color="primary" [routerLink]="['/lab-form']"><img
      src="https://img.icons8.com/material-rounded/24/000000/create.png" /> Vytvoriť Lab</button>

  <div class="center">
    <mat-spinner *ngIf="loaded"></mat-spinner>

    <div class="example-container" *ngFor="let lab of labs">
      <!---->
      <h2> {{lab.name}}</h2>
      <div style="background-color: white; border-radius: 5px; margin-bottom: 3.5rem;">
        <label>Členovia: {{lab.studentNames.length}}</label>
      </div>
      <button color="primary" routerLink="/lab-detail/{{lab.id}}" mat-raised-button>Lab Details</button>
    </div>
  </div>
</div>


<div *ngIf="isStudent">
  <div class="center">
    <mat-spinner *ngIf="loaded"></mat-spinner>

    <div class="example-container">
      <h2> {{lab.name}}</h2>
      <div style="background-color: white; border-radius: 5px; margin-bottom: 3.5rem;">
        <label>Členovia: {{lab.studentNames.length}}</label>
      </div>
      <button color="primary" routerLink="/lab-detail/{{lab.id}}" mat-raised-button>Lab Details</button>
    </div>
  </div>
</div>