<div class="centel">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Reset Your Password</h2>

        <div class="form-group has-error">
            <input [(ngModel)]="username" type="text" class="form-control" name="username"
                placeholder="Username" required>
        </div>
        <div class="form-group">
            <input [(ngModel)]="password" type="password" class="form-control" name="password"
                placeholder="New Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block"
                [disabled]="!loginForm.form.valid">
                Reset
                <!-- <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status"
                    aria-hidden="true"></span> -->
            </button>

        </div>
    </form>    
</div>