<div class="centel">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Reset Your Password</h2>

        <h3>Username: <b>{{username}}</b></h3>
        <div class="form-group has-error">
            <input [(ngModel)]="password" type="password" class="form-control" name="pass" required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-.]).{8,16}$"
                placeholder="Enter New Password" #pass="ngModel">
                <small
                *ngIf="pass.touched && pass.hasError('required') || pass.touched && pass.valid == false">
                Required: <br>
                1 number <br>
                1 small letter <br>
                1 cappital letter <br>
                length must be atleast 8 characters long
              </small>
        </div>
        <div class="form-group">
            <input [(ngModel)]="repeatPassword" type="password" class="form-control" name="repPassword"
                placeholder="Repeat New Password" required="required">
        </div>
        <div class="form-group">
            <button mat-raised-button type="submit"  color="primary"
                [disabled]="!loginForm.form.valid && password != repeatPassword">
                Reset
                 <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status"
                    aria-hidden="true"></span> 
            </button>

        </div>
    </form>    
</div>