.centel {
    margin: auto;
    width: 50%;
    border-radius: 13px;
    text-align: center;
    background-color: #6D4FD8;
    padding: 10px;
    height: auto;
    color: white;
    padding: 1em;
    margin-top: 1em;
}
.centel input {
    margin : 0.5em;
}

