/* primary header */
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.openlab-logo {
  width: 190px;
}

@media screen and (max-width: 992px){
  .openlab-logo {
    width: 170px;
  }
}
@media screen and (max-width: 310px){
  .openlab-logo {
    width: 100px;
  }
}

.nav-bar {
  background-color: #6D4FD8;
  margin-bottom: 20px;
}
a {
  font-size: large;
  color: white;
}