/* primary header */
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer1 {
  flex: 0;
}

.openlab-logo {
  width: 190px;
  border-radius: 10px;
}

.openlab-logo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

@media screen and (max-width: 992px){
  .example-spacer1 {
    flex: 1.9 1 auto;
  }
  .openlab-logo {
    width: 170px;
  }
}
@media screen and (max-width: 310px){
  .example-spacer1 {
    flex: 1 1 auto;
  }
  .openlab-logo {
    width: 100px;
  }
}

.nav-bar {
  background-color: #6D4FD8;
}
a {
  font-size: large;
  color: white;
}

