<div style="height: 100vh;">
  <mat-toolbar class="nav-bar" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img class="openlab-logo"  src="/assets/images/Logo.png" alt="openlab-logo">
      <span class="example-spacer"></span>
      <h2>{{userName}}</h2>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="['/dashboard']" mat-button>
          <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-team-management-kiranshastry-lineal-color-kiranshastry-3.png"/>
          Dashboard
        </a>
        <a [routerLink]="['/exercises']" mat-button>
          <img src="https://img.icons8.com/color/48/000000/inspect-code.png"/>
          Exercises
        </a>
        <a (click)="signOut()" mat-button>
          <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-sign-out-user-interface-tanah-basah-glyph-tanah-basah.png"/>
          Sign Out
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill style="background-color: white;">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="['']" mat-list-item>
          <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-team-management-kiranshastry-lineal-color-kiranshastry-3.png"/>
          Lab
        </a>
        <a href="#" mat-list-item>
          <img src="https://img.icons8.com/color/48/000000/inspect-code.png"/>
          Exercises</a>
        <a href="#" mat-list-item>
          <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-sign-out-user-interface-tanah-basah-glyph-tanah-basah.png"/>
          Sign Out
        </a>
        
        <a (click)="sidenav.toggle()" mat-list-item>
          <img src="https://img.icons8.com/material-sharp/24/000000/close-window.png"/> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main" fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
  


