<div class="center">
  <form #createLabForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Meno Labu</h2>
            <input placeholder="Lab Name" [(ngModel)]="labName" type="text" class="form-control" name="username" required minlength="4"
              maxlength="10" #labN="ngModel">
            <small *ngIf="labN.touched && labN.valid == false">
              Lab name is required (minimum 4 characters).
            </small>
    <div>
        <div class="example-container">
          <h2>Uživstelia V Labe</h2>
          <mat-list class="example-box">
            <mat-list-item>{{labMaster}}</mat-list-item>
          </mat-list>
      
          <div>
            <div class="example-box" *ngFor="let item of inLab" >
              <mat-list>
                <mat-list-item>{{item}}</mat-list-item> 
              </mat-list>
              <button style="margin-right: 5px;" mat-raised-button *ngIf="item !== labMaster" color="primary" type="button" (click)="deleteFromLab(item)">delete</button>
            </div>
          </div>
        </div>
      
        <div class="example-container">
          <h2>Overení Uživatelia</h2>
            <div class="example-box"  *ngFor="let item of notInLab " >
              <mat-list  class="flex-container"   >
                <mat-list-item  >{{item}}</mat-list-item> 
              </mat-list>
              <button style="margin-right: 5px;" mat-raised-button  color="primary" (click)="addToLab(item)">add</button>
          </div>
        </div>
      </div>
      <button mat-flat-button color="primary" type="submit" [disabled]="!createLabForm.form.valid || inLab.length < 2 " >Create</button>
  </form>
</div>
