.card {
    border: none;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.flex-container:last-child {
    padding: 5px;
}

.flex-child {
    flex: 1;
}



.card-title {
    text-align: center;
}

.registration-card {
    width: 200px;
    text-align: center;
}

.example-full-width {

    font-size: large;
}

.welcome-text {
    font-size: xx-large;
}

h2 {
    color: black;
}

body {
    border-radius: 13px;
    color: #fff;
    background: #6D4FD8;

    min-width: 360px;
}

.form-control {
    min-height: 41px;
    box-shadow: none;
}

.form-control:focus {
    border-color: #4f28dd;
}

.form-control,
.btn {
    border-radius: 2px;
}

.form-group {
    margin: 10px;
}

.login-form {
    width: 350px;
    margin: 100px auto;
    text-align: center;
}
.login-form small {
    text-align: start !important;
}

@media screen and (max-width: 992px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .login-form {
        min-width: 220px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .welcome-text {
        font-size: large;
        text-align: center;
    }

    .line {
        width: 10px;
    }

    p {
        text-align: center;
    }

    body {
        border-radius: 13px;
        min-width: 310px;
        color: #fff;
        background: #6D4FD8;

    }

}


@media screen and (max-width: 770px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .login-form {
        min-width: 250px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .welcome-text {
        font-size: large;
        text-align: center;
    }


    p {
        text-align: center;
    }

    img {
        text-align: center;
    }

    body {
        border-radius: 13px;
        min-width: 260px;
        color: #fff;
        background: #6D4FD8;

    }
}


.login-form h2 {
    margin: 10px 0 25px;
}

.login-form form {
    color: #7a7a7a;
    border-radius: 16px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #6D4FD8;
    border: none;
    outline: none !important;
}

.login-form .btn:hover,
.login-form .btn:focus {
    background: #7E87D9;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}


.line {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 410px;
}