<div class="centel">
    <form #createExerciseForm="ngForm" (ngSubmit)="onSubmit()">
      <h2 style="color: white;">Create Exercise</h2>
  
      <div class="form-group">
        <label for="">Exercise Name</label>
        <input class="form-control" type="text" placeholder="Exercise Name" [(ngModel)]="exerciseTest.name" required
          name="group" #exGroup="ngModel">
        <label style="margin-top: 2em;" for="">Exercise Description</label>
        <textarea rows="7" type="text" name="description" id="" class="form-control"
          placeholder="Description for exercise" style="font-size: small;" [(ngModel)]="exerciseTest.description"
          required></textarea>
        <div class="example-box">
          <input class="form-control" type="number" placeholder="Required Stars for Exercise"
            [(ngModel)]="exerciseTest.requiredStars" required name="requiredStars" #exGroup="ngModel">
        </div>
        <div class="form-group" style="margin-bottom: 3em;">
          <label for="">Add Exercise to Group</label> <br>
          <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="selectedOption" name="option">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
  
  
          <div *ngIf="selectedOption == 'Add to Existing Group';">
            <section>
              <mat-form-field appearance="outline">
                <mat-label>Add to Group:</mat-label>
                <mat-select [formControl]="selectedOrder" (selectionChange)="dropDownChanged($event)">
                  <mat-option *ngFor="let group of groups" [value]="group.name">
                    {{ group.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </div>
  
          <div *ngIf="selectedOption == 'Create New Group';">
            <input class="form-control" type="text" placeholder="Exercise Group" [(ngModel)]="exerciseTest.groupName"
              required name="group" #exGroup="ngModel">
          </div>
        </div>
  
  
        <div class="example-box">
          <input class="form-control" type="number" placeholder="Minimum of Stars for Group"
            [(ngModel)]="exerciseGroupModel.minStars" required name="minStars" #exGroup="ngModel">
          <input class="form-control" type="number" placeholder="Maximum of Stars for Group"
            [(ngModel)]="exerciseGroupModel.maxStars" required name="maxStars" #exGroup="ngModel">
        </div>
      </div>
  
  
  
      <div class="form-group">
        <button style="margin-top: 2em;" mat-flat-button color="primary" type="submit"
          [disabled]="!createExerciseForm.valid || exerciseGroupModel.maxStars < exerciseGroupModel.minStars || exerciseTest.requiredStars > exerciseGroupModel.maxStars">Save</button>
      </div>
    </form>
  </div>