<div class="center" *ngIf="student">
  <div class="example-container" style="background-color: #603cb0">
    <!---->
    <h2 style="border-radius: 10px">
      {{ student.username }} 
    </h2>
    <label>{{ student.email }}</label>
    <label style="font-size: large" for="">Score: {{ student.score }}</label>
  </div>
</div>



<mat-accordion style="margin: 2em; width: 90%;">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aktivita na GitHub
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="activity-container" *ngFor="let event of activity">
      <div class="activity">
        <p class="type">{{ event.type }}</p>
        <p class="created-at">{{ event.created_at | date:'medium' }}</p>
        <p class="message">{{ event.payload?.commits?.[0]?.message }}</p>
        <p class="repo-name">{{ event.repo?.name }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>




<!--Exercises-->
<h1 style="text-align: center; font-size: xx-large;">Cvičenia</h1>
<div class="center">
  
  <div *ngFor="let exercise of exercises">
    <div class="example-container" *ngIf="exercise.done != true">
      <h2 style="background-color: #603cb0; border-radius: 10px">
        {{ exercise.name }}
      </h2>
      <label for="">{{ exercise.requiredStars }}
        <img src="https://img.icons8.com/fluency/18/000000/star.png" />
      </label>

      <div class="example-container">
        <button mat-raised-button color="primary" (click)="updateScore(exercise)">
          OZNAČIŤ AKO HOTOVÉ
        </button>
      </div>
    </div>
  </div>
</div>
<h1 style="text-align: center; font-size: xx-large;">Hotové Cvičenia <img src="https://img.icons8.com/ios-filled/40/undefined/checkmark--v1.png"/> </h1>
<div class="center">
  <div *ngFor="let exercise of exercises">
    <!---->
    <div class="example-container" style="background-color: rgb(200, 255, 200);" *ngIf="exercise.done == true">
      <h2 style="background-color: rgb(69, 113, 69); border-radius: 10px">
        {{ exercise.name }}
      </h2>
    </div>
  </div>
</div>