<div class="flex-container">
    <div class="flex-child text">
        <div class="logo-text">
            <h1 class="heading">Poď študovať AppsLab
                a nauč sa tvoriť softvérové aplikácie</h1>
            <p style="color: white; padding: 3em;">Technológie používané na vývoj softvéru predstavujú aktuálne veľkú časť technologického priemyslu. Počas
                štúdia v <b>OpenLabe</b> sa preto naučíš ako vytvoriť softvérovú aplikáciu v mobile a na webe s použitím
                populárnych programovacích jazykov ako Java, C#, Angular, naučíš sa princípy objektovo orientovaného
                programovania a skúsiš si aj prácu s databázou.</p>
        </div>
    </div>

    <div class="flex-child card" style="border: none;">
        <div class="carousel">
            <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image.src" alt="Random first slide" class="carousel-img">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
<div class="center">
    <h1 class="heading">Labmastri v AppsLabe</h1>
    <div class="lab-masters">
        <div class="lab-masters-text" *ngFor="let labMaster of labMasters">
          <p class="lab-masters-txt">{{ labMaster.text }}</p>
          <div class="flex">
            <p class="description">{{labMaster.name}}</p>
            <img class="lab-masters-images" [src]="labMaster.src" alt="" />
        </div>
        </div>
      </div>
</div>