.example-container {
    
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .example-box:last-child {
    border: none;
  }

  .centel {
      margin: auto;
      width: 40rem !important;
      border-radius: 13px;
      text-align: center;
      background-color: #6D4FD8;
      padding: 10px;
      height: auto;
  }

  .center {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 13px;
    text-align: center;
    padding: 10px;
    height: auto;
    justify-content: center;
}
.example-container {
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0px !important;
    margin-bottom: 10px;
    background-color: #6D4FD8 !important;
    border-radius: 13px;
    padding: 10px;
  }

  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin-bottom: 2em;
  }
  th.mat-header-cell {
    text-align: center !important;
 
  }

  .flex-container {
    display: flex;
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .test {
    margin: auto;
    width: 50%;


  }

  .list {
    margin-bottom: 6em;
    color: black;
  }

  textarea {
    color: black;
  }
  input {
    color: black;
  }

  label {
    color: white;
  }
  
  mat-list, mat-panel-title, mat-panel-description {
    color: black;
    
  }
  button {
    position: relative;
  }

  .description-text {
    color: black;
  }

  mat-dialog-container {
    background-color: #6D4FD8 !important;
  }
  

  mat-radio-button{
    color: white;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  mat-select, mat-option, mat-list-item, section, mat-label {
    color: black;
  }

  section {
    background-color: white;
    width: 50%;
    border-radius: 5px;
    margin: 5px;
  }
  
  .sel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2, p, h3 {
    color: black;
  }
 