.example-container {
    
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .example-box:last-child {
    border: none;
  }

  .center {
      margin: auto;
      width: 60%;
      border-radius: 13px;
      text-align: center;
      background-color: #6D4FD8;
      padding: 10px;
      height: auto;
  }

  .flex-container {
    display: flex;
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .test {
    margin: auto;
    width: 50%;

    padding: 10px;
  }

  .list {
    margin-bottom: 6em;
    color: black;
  }

  textarea {
    
    margin-bottom: 2em;
    color: black;
  }
  input {
    color: black;
  }

  * {
    color: white;
  }
  
  mat-list, mat-panel-title, mat-panel-description {
    color: black;
    
  }
  button {
    position: relative;
  }
  mat-expansion-panel{
    margin-bottom: 100px;
  }
  p {
    background-color: #6D4FD8;
  }
  mat-radio-button{
    color: white;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  mat-select, mat-option, mat-list-item, section, mat-label {
    color: black;
  }
  
  section {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
  }