<div class="center">
    <form #createExerciseForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Create Exercise</h2>

        <div class="form-group">
            <label for="">Exercise Name</label>
            <input class="form-control" type="text" placeholder="Exercise Name" [(ngModel)]="exerciseModel.name"
                required name="group" #exGroup="ngModel">
            <label style="margin-top: 2em;" for="">Exercise Description</label>
            <textarea rows="5" type="text" name="description" id="" class="form-control"
                placeholder="Description for exercise" [(ngModel)]="exerciseModel.description" required></textarea>

                
                <div class="example-box" >
            <input class="form-control" type="number" placeholder="Minimum of Stars" [(ngModel)]="exerciseModel.minStars"
                required name="group" #exGroup="ngModel">
            <input class="form-control" type="number" placeholder="Maximum of Stars" [(ngModel)]="exerciseModel.maxStars"
                required name="group" #exGroup="ngModel">
            </div>
        </div>



        <div class="form-group">
            <button style="margin-top: 2em;" mat-flat-button color="primary" type="submit" [disabled]="!createExerciseForm.valid || exerciseModel.maxStars < exerciseModel.minStars">Create</button>
        </div>
    </form>
</div>