<div class="center">
    <form #createLabForm="ngForm">
        <h2>Create Exercise</h2>
        <input placeholder="Exercise Group Name" [(ngModel)]="exerciseModel.name" type="text" class="form-control"
            name="username" required minlength="4" maxlength="10" #exGroup="ngModel">
        <small *ngIf="exGroup.touched && exGroup.valid == false">
            Exercise group name is required (minimum 4 characters).
        </small>
        <div>

            <input class="form-control" type="text" placeholder="Exercise Description"
                [(ngModel)]="exerciseModel.description" required name="exercise" #exDescription>

            <button style="margin: 5px;" mat-raised-button color="primary" (click)="addToExercises()">add</button>
        </div>

        <div class="example-box" *ngFor="let item of exerciseModel.description" >
            <mat-list>
              <mat-list-item>{{item}}</mat-list-item> 
            </mat-list>
            <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="deleteFromLab(item)">delete</button>
          </div>       

        <button mat-flat-button color="primary" type="submit" [disabled]="">Create</button>
    </form>
</div>